/* nos bons plans section */
.nosBonPlan_section .nosBonPlan_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nosBonPlan_section .nosBonPlan_container .nosBonPlan_content {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 50px;
  overflow: hidden;
}

.search_resultat-section {
  padding-bottom: 50px;
}
.search_resultat-section .search_resultat_container .search_resultat_content .search_resultat_section_title {
  font-weight: 500;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}
.search_resultat-section .search_resultat_container .search_resultat_content .search_resultat_section_title .icon {
  color: #ff7b00;
  font-size: 30px;
}
.search_resultat-section .search_resultat_container .search_resultat_content .search_resultat {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 30px;
}

@media (max-width: 400px) {
  /* section title */
  .section_tile {
    font-size: 25px;
  }
  /* nos bons plans */
  .nosBonPlan_section {
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .nosBonPlan_section .section_tile {
    padding: 0 5%;
  }
  .nosBonPlan_section .nosBonPlan_container {
    padding: 0;
  }
  .nosBonPlan_section .nosBonPlan_container .nosBonPlan_content {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 18px;
  }
  .nosBonPlan_section .nosBonPlan_container .nosBonPlan_content .article {
    width: 170px;
    border-radius: 0.2rem;
  }
  .nosBonPlan_section .nosBonPlan_container .nosBonPlan_content .article .image .img-content {
    height: 130px;
    padding: 5px;
  }
  .nosBonPlan_section .nosBonPlan_container .nosBonPlan_content .article .image .img-content img {
    max-width: 100%;
    max-height: 100%;
  }
  .nosBonPlan_section .nosBonPlan_container .nosBonPlan_content .article .image:hover .img-content::after {
    background-color: rgba(0, 31, 77, 0.1647058824);
  }
  .nosBonPlan_section .nosBonPlan_container .nosBonPlan_content .article .image:hover .img-content .img {
    max-height: 200px !important;
  }
  .nosBonPlan_section .nosBonPlan_container .nosBonPlan_content .article .descriptions {
    text-align: center;
  }
  .nosBonPlan_section .nosBonPlan_container .nosBonPlan_content .article .descriptions .article_name {
    padding: 7px 0;
    background-color: #f3f3f3;
    font-size: 13px;
    font-weight: 400;
  }
  .nosBonPlan_section .nosBonPlan_container .nosBonPlan_content .article .descriptions .price-detail {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nosBonPlan_section .nosBonPlan_container .nosBonPlan_content .article .descriptions .price-detail .price {
    font-size: 13px;
    font-weight: 500;
    color: #000000;
  }
  .nosBonPlan_section .nosBonPlan_container .nosBonPlan_content .article .descriptions .price-detail button {
    border-radius: 0.2rem;
    padding: 3px 15px;
    font-size: 13px;
  }
  /* accessoitres pour enfants */
  .accessoires-enfant_section {
    padding: 0 5%;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .accessoires-enfant_section .accessoires_container .accessoires_content {
    justify-content: center;
    display: grid !important;
    grid-template-columns: repeat(2, auto) !important;
    gap: 10px !important;
  }
  .accessoires-enfant_section .accessoires_container .accessoires_content .article {
    width: 170px;
    border-radius: 0.2rem;
  }
  .accessoires-enfant_section .accessoires_container .accessoires_content .article .image .img-content {
    height: 130px;
    padding: 5px;
  }
  .accessoires-enfant_section .accessoires_container .accessoires_content .article .image .img-content img {
    max-width: 100%;
    max-height: 100%;
  }
  .accessoires-enfant_section .accessoires_container .accessoires_content .article .image:hover .img-content::after {
    background-color: rgba(0, 31, 77, 0.1647058824);
  }
  .accessoires-enfant_section .accessoires_container .accessoires_content .article .image:hover .img-content .img {
    max-height: 200px !important;
  }
  .accessoires-enfant_section .accessoires_container .accessoires_content .article .descriptions {
    text-align: center;
  }
  .accessoires-enfant_section .accessoires_container .accessoires_content .article .descriptions .article_name {
    padding: 7px 0;
    background-color: #f3f3f3;
    font-size: 13px;
    font-weight: 400;
  }
  .accessoires-enfant_section .accessoires_container .accessoires_content .article .descriptions .price-detail {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .accessoires-enfant_section .accessoires_container .accessoires_content .article .descriptions .price-detail .price {
    font-size: 13px;
    font-weight: 500;
    color: #000000;
  }
  .accessoires-enfant_section .accessoires_container .accessoires_content .article .descriptions .price-detail button {
    border-radius: 0.2rem;
    padding: 3px 15px;
    font-size: 13px;
  }
  /* search results show section */
  .search_resultat-section {
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .search_resultat-section .search_resultat_container {
    padding: 0;
  }
  .search_resultat-section .search_resultat_container .search_resultat_content .search_resultat_section_title {
    font-size: 16px;
    font-weight: 300;
    padding: 10px 5%;
  }
  .search_resultat-section .search_resultat_container .search_resultat_content .search_resultat_section_title .icon {
    font-size: 18px;
  }
  .search_resultat-section .search_resultat_container .search_resultat_content .search_resultat {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 18px;
  }
  .search_resultat-section .search_resultat_container .search_resultat_content .search_resultat .article {
    width: 170px;
    border-radius: 0.2rem;
  }
  .search_resultat-section .search_resultat_container .search_resultat_content .search_resultat .article .image .img-content {
    height: 130px;
    padding: 5px;
  }
  .search_resultat-section .search_resultat_container .search_resultat_content .search_resultat .article .image .img-content img {
    max-width: 100%;
    max-height: 100%;
  }
  .search_resultat-section .search_resultat_container .search_resultat_content .search_resultat .article .image:hover .img-content::after {
    background-color: rgba(0, 31, 77, 0.1647058824);
  }
  .search_resultat-section .search_resultat_container .search_resultat_content .search_resultat .article .image:hover .img-content .img {
    max-height: 200px !important;
  }
  .search_resultat-section .search_resultat_container .search_resultat_content .search_resultat .article .descriptions {
    text-align: center;
  }
  .search_resultat-section .search_resultat_container .search_resultat_content .search_resultat .article .descriptions .article_name {
    padding: 7px 0;
    background-color: #f3f3f3;
    font-size: 13px;
    font-weight: 400;
  }
  .search_resultat-section .search_resultat_container .search_resultat_content .search_resultat .article .descriptions .price-detail {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search_resultat-section .search_resultat_container .search_resultat_content .search_resultat .article .descriptions .price-detail .price {
    font-size: 13px;
    font-weight: 500;
    color: #000000;
  }
  .search_resultat-section .search_resultat_container .search_resultat_content .search_resultat .article .descriptions .price-detail button {
    border-radius: 0.2rem;
    padding: 3px 15px;
    font-size: 13px;
  }
}
@media ((min-width: 577px) and (max-width: 800px)) {
  .nosBonPlan_section .nosBonPlan_container .nosBonPlan_content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5%;
  }
}
@media ((min-width: 991px) and (max-width: 1199px)) {
  .nosBonPlan_section .nosBonPlan_container .nosBonPlan_content {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 50px;
  }
}
/* news section style */
.news_section .news_container .news_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.articles_slider {
  justify-content: center;
  align-items: center;
}

/* accessoitres pour enfants */
.accessoires-enfant_section .accessoires_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.accessoires-enfant_section .accessoires_container .accessoires_content {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 50px;
}

/* asides section */
.asides .asides_container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media (max-width: 400px) {
  /* asides section */
  .asides .asides_container {
    gap: 20px;
  }
  .asides .asides_container .aside {
    width: 100% !important;
  }
}
/* wrappers */
.wrapper-section .wrapper_section_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}/*# sourceMappingURL=articles-section-style.css.map */