/* nos bons plans section */
.nosBonPlan_section {
    .nosBonPlan_container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .nosBonPlan_content {
            display: grid;
            grid-template-columns: repeat(4, auto);
            gap: 50px;
            overflow: hidden;
        }
    }
}

.search_resultat-section {
    padding-bottom: 50px;

    .search_resultat_container {
        .search_resultat_content {
            .search_resultat_section_title {
                font-weight: 500;
                display: flex;
                width: fit-content;
                align-items: center;
                gap: 20px;
                padding: 20px 0;

                .icon {
                    color: #ff7b00;
                    font-size: 30px;
                }
            }

            .search_resultat {
                display: grid;
                grid-template-columns: repeat(4, auto);
                gap: 30px;
            }
        }
    }
}

@media (max-width: 400px) {

    /* section title */
    .section_tile {
        font-size: 25px;
        //   background-color: #dba154;
    }

    /* nos bons plans */
    .nosBonPlan_section {
        .section_tile {
            padding: 0 2.5%;
        }

        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        .nosBonPlan_container {


            .nosBonPlan_content {
                justify-content: center;
                display: grid;
                grid-template-columns: repeat(2, auto);
                gap: 15px;

                .article {
                    width: 160px;
                    border-radius: .2rem;

                    .image {
                        .img-content {
                            height: 120px;
                            padding: 5px;

                            img {
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }
                    }


                    .descriptions {
                        text-align: center;

                        .article_name {
                            padding: 7px 0;
                            background-color: #f3f3f3;
                            font-size: 13px;
                            font-weight: 400;
                        }

                        .price-detail {
                            padding: 10px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .price {
                                font-size: 13px;
                                font-weight: 500;
                                color: #000000;
                            }

                            button {
                                border-radius: .2rem;
                                padding: 3px 15px;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* accessoitres pour enfants */
    .accessoires-enfant_section {
        padding: 0 2.5%;
        width: 95%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        .accessoires_container {
            .accessoires_content {
                justify-content: center;
                display: grid !important;
                grid-template-columns: repeat(2, auto) !important;
                gap: 10px !important;

                .article {
                    width: 160px;
                    border-radius: .2rem;


                    .image {
                        .img-content {
                            height: 120px;
                            padding: 5px;

                            img {
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }
                    }



                    .descriptions {
                        text-align: center;

                        .article_name {
                            padding: 7px 0;
                            background-color: #f3f3f3;
                            font-size: 13px;
                            font-weight: 400;
                        }

                        .price-detail {
                            padding: 10px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            .price {
                                font-size: 13px;
                                font-weight: 500;
                                color: #000000;
                            }

                            button {
                                border-radius: .2rem;
                                padding: 3px 15px;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }
    }

    /* search results show section */
    .search_resultat-section {
        width: 90%;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        .search_resultat_container {
            padding: 0;

            .search_resultat_content {
                .search_resultat_section_title {
                    font-size: 16px;
                    font-weight: 300;
                    padding: 10px 5%;

                    .icon {
                        font-size: 18px;
                    }
                }

                .search_resultat {
                    justify-content: center;
                    display: grid;
                    grid-template-columns: repeat(2, auto);
                    gap: 18px;

                    .article {
                        width: 170px;
                        border-radius: .2rem;

                        .image {
                            .img-content {
                                height: 130px;
                                padding: 5px;

                                img {
                                    max-width: 100%;
                                    max-height: 100%;
                                }
                            }
                        }

                        .image:hover {
                            .img-content::after {
                                background-color: #001f4d2a;
                            }

                            .img-content {
                                .img {
                                    max-height: 200px !important;
                                }
                            }
                        }

                        .descriptions {
                            text-align: center;

                            .article_name {
                                padding: 7px 0;
                                background-color: #f3f3f3;
                                font-size: 13px;
                                font-weight: 400;
                            }

                            .price-detail {
                                padding: 10px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;

                                .price {
                                    font-size: 13px;
                                    font-weight: 500;
                                    color: #000000;
                                }

                                button {
                                    border-radius: .2rem;
                                    padding: 3px 15px;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media ((min-width: 577px) and (max-width: 800px)) {
    .nosBonPlan_section {
        .nosBonPlan_container {
            .nosBonPlan_content {
                display: grid;
                grid-template-columns: repeat(2, auto);
                gap: 5%;
            }
        }
    }
}

@media ((min-width: 991px) and (max-width: 1199px)) {
    .nosBonPlan_section {
        .nosBonPlan_container {
            .nosBonPlan_content {
                display: grid;
                grid-template-columns: repeat(3, auto);
                gap: 50px;
            }
        }
    }
}

/* news section style */
.news_section {
    .news_container {
        .news_content {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}

.articles_slider {
    justify-content: center;
    align-items: center;
}

/* accessoitres pour enfants */
.accessoires-enfant_section {
    .accessoires_container {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .accessoires_content {
            display: grid;
            grid-template-columns: repeat(3, auto);
            gap: 50px;
        }
    }
}

/* asides section */
.asides {
    .asides_container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}

@media (max-width: 400px) {


    /* asides section */
    .asides {
        .asides_container {
            gap: 20px;

            .aside {
                width: 100% !important;
            }
        }
    }
}

/* wrappers */
.wrapper-section {
    .wrapper_section_content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
