.article {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 250px;
    border-radius: .5rem;
    box-shadow: 1px -.5px 1px 2px #d1d1d1;
    transition: all .5s;

    .image {
        .img-content {
            height: 200px;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            img {
                max-width: 100%;
                max-height: 180px;
                object-fit: cover;
            }
        }

        .img-content::after {
            transition: all .3s;
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: inherit;
            max-width: 100%;
            max-height: 100%;
            border-top-left-radius: .5rem;
            border-top-right-radius: .5rem;
        }
    }

    .image:hover {
        .img-content::after {
            background-color: #001f4d2a;
        }

        .img-content {
            .img {
                max-height: 200px !important;
            }
        }
    }

    .descriptions {
        .article_name {
            padding: 7px 0;
            background-color: #f3f3f3;
            font-weight: bolder;
            font-weight: 400;
        }

        .price-detail {
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .price {
                font-size: 18px;
                font-weight: 500;
                color: #000000;
            }
        }
    }
}

.articlePop-up {
    // margin: 200px;
    position: fixed;
    z-index: 1000;
    height: fit-content;
    top: 50%;
    left: 50%;
    //right: 10%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #f5f3ec;
    width: 450px;
    border-radius: .5rem;
    box-shadow: 1px -.5px 1px 2px #d1d1d1;
    transition: all .5s;

    .close-modal {
        right: 0;
        top: 20px;
        cursor: pointer;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        transition: .2s;
        margin-left: 90%;
        margin-top: 2%;
    }

    .close-modal:hover {
        background-color: #ee6205;
        color: #fff;
    }

    .popup_container {
        .popup_content {
            padding: 15px 0;

            .image {
                background-color: #fff;

                .img-content {
                    height: 200px;
                    padding: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;

                    img {
                        max-width: 100%;
                        max-height: 180px;
                        object-fit: cover;
                    }
                }
            }

            .description_container {
                .description_content {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .name {
                        font-weight: 600;
                        padding-top: 10px;
                    }

                    .description {
                        text-align: justify;
                        color: #2c1201;
                        font-weight: 300;
                        font-size: 16px;
                        padding: 0 15px;
                    }

                    .price-add {
                        display: flex;
                        justify-content: space-between;
                        padding: 0 15px;

                        .price {
                            font-size: 20px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .articlePop-up {
        // margin: 200px;
        position: fixed;
        z-index: 1000;
        height: fit-content;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        background-color: #f5f3ec;
        width: 90%;
        border-radius: .5rem;
        box-shadow: 1px -.5px 1px 2px #d1d1d1;
        transition: all .5s;

        .close-modal {
            right: 0;
            top: 20px;
            cursor: pointer;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 22px;
            height: 22px;
            transition: .2s;
            margin-left: 90%;
            margin-top: 2%;
        }

        .close-modal:hover {
            background-color: #ee6205;
            color: #fff;
        }

        .popup_container {
            .popup_content {
                padding: 15px 0;

                .image {
                    background-color: #fff;

                    .img-content {
                        height: 130px;
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;

                        img {
                            max-width: 100%;
                            max-height: 120px;
                            object-fit: cover;
                        }
                    }
                }

                .description_container {
                    .description_content {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        .name {
                            font-weight: 400;
                            padding-top: 10px;
                            font-size: 12px;
                        }

                        .description {
                            text-align: justify;
                            color: #2c1201;
                            font-weight: 300;
                            font-size: 10px;
                            padding: 0 15px;
                        }

                        .price-add {
                            display: flex;
                            justify-content: space-between;
                            padding: 0 15px;

                            .price {
                                font-size: 18px;
                                font-weight: 500;
                            }

                            .add-button {
                                padding: 4px 8px;
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media ((min-width: 577px) and (max-width: 767px)) {}

@media ((min-width: 768px) and (max-width: 991px)) {}

@media ((min-width: 992px) and (max-width: 1199px)) {}

@media (min-width: 992px) {
    /*    .article {
        button {
            padding: 5px;
        }

        display: flex;
        flex-direction: column;
        background-color: #fff;
        width: 200px;
        border-radius: .5rem;
        box-shadow: 1px -.5px 1px 2px #d1d1d1;
        transition: all .5s;

        .image {
            .img-content {
                height: 150px;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                img {
                    max-width: 100%;
                    max-height: 140px;
                    object-fit: cover;
                }
            }

            .img-content::after {
                transition: all .3s;
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: inherit;
                max-width: 100%;
                max-height: 100%;
                border-top-left-radius: .5rem;
                border-top-right-radius: .5rem;
            }
        }

        .image:hover {
            .img-content::after {
                background-color: #001f4d2a;
            }

            .img-content {
                .img {
                    max-height: 200px !important;
                }
            }
        }

        .descriptions {
            .article_name {
                padding: 7px 0;
                background-color: #f3f3f3;
                font-weight: bolder;
                font-weight: 400;
            }

            .price-detail {
                padding: 10px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .price {
                    font-size: 18px;
                    font-weight: 500;
                    color: #000000;
                }
            }
        }
    } */
}

@media (min-width: 1200px) {}
