.article {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 250px;
  border-radius: 0.5rem;
  box-shadow: 1px -0.5px 1px 2px #d1d1d1;
  transition: all 0.5s;
}
.article .image .img-content {
  height: 200px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.article .image .img-content img {
  max-width: 100%;
  max-height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.article .image .img-content::after {
  transition: all 0.3s;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: inherit;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.article .image:hover .img-content::after {
  background-color: rgba(0, 31, 77, 0.1647058824);
}
.article .image:hover .img-content .img {
  max-height: 200px !important;
}
.article .descriptions .article_name {
  padding: 7px 0;
  background-color: #f3f3f3;
  font-weight: bolder;
  font-weight: 400;
}
.article .descriptions .price-detail {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article .descriptions .price-detail .price {
  font-size: 18px;
  font-weight: 500;
  color: #000000;
}

.articlePop-up {
  position: fixed;
  z-index: 1000;
  height: -moz-fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background-color: #f5f3ec;
  width: 450px;
  border-radius: 0.5rem;
  box-shadow: 1px -0.5px 1px 2px #d1d1d1;
  transition: all 0.5s;
}
.articlePop-up .close-modal {
  right: 0;
  top: 20px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  transition: 0.2s;
  margin-left: 90%;
  margin-top: 2%;
}
.articlePop-up .close-modal:hover {
  background-color: #ee6205;
  color: #fff;
}
.articlePop-up .popup_container .popup_content {
  padding: 15px 0;
}
.articlePop-up .popup_container .popup_content .image {
  background-color: #fff;
}
.articlePop-up .popup_container .popup_content .image .img-content {
  height: 200px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.articlePop-up .popup_container .popup_content .image .img-content img {
  max-width: 100%;
  max-height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.articlePop-up .popup_container .popup_content .description_container .description_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.articlePop-up .popup_container .popup_content .description_container .description_content .name {
  font-weight: 600;
  padding-top: 10px;
}
.articlePop-up .popup_container .popup_content .description_container .description_content .description {
  text-align: justify;
  color: #2c1201;
  font-weight: 300;
  font-size: 16px;
  padding: 0 15px;
}
.articlePop-up .popup_container .popup_content .description_container .description_content .price-add {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  align-items: center;
}
.articlePop-up .popup_container .popup_content .description_container .description_content .price-add .price {
  font-size: 20px;
  font-weight: 600;
}
.articlePop-up .popup_container .popup_content .description_container .description_content .price-add .add-button {
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 400;
}
.articlePop-up .popup_container .popup_content .description_container .description_content .price-add a {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-decoration: underline;
}
.articlePop-up .popup_container .popup_content .description_container .description_content .price-add a:hover {
  color: #ee6205;
}

.showProduct-section {
  background-color: #d9e4e3;
  padding: 50px 0;
}
.showProduct-section .container .content {
  display: flex;
  justify-content: space-between;
}
.showProduct-section .container .content .product {
  width: 70%;
}
.showProduct-section .container .content .product .product_container {
  padding: 10px;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px 1px #b8b8b8;
}
.showProduct-section .container .content .product .product_container .product_content {
  display: flex;
  gap: 30px;
}
.showProduct-section .container .content .product .product_container .product_content .product_image {
  border: 1px solid #d9e4e3;
  border-radius: 0.5rem;
  overflow: hidden;
  padding: 5px;
  display: flex;
  align-items: center;
}
.showProduct-section .container .content .product .product_container .product_content .product_image img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.showProduct-section .container .content .product .product_container .product_content .desc_container {
  text-align: left;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.showProduct-section .container .content .product .product_container .product_content .desc_container .description-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .product_description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .product_description .name {
  font-weight: 500;
  font-size: 20px;
}
.showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .product_description .prices {
  display: flex;
  gap: 10px;
}
.showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .product_description .prices .price {
  font-size: 18px;
  font-weight: 500;
  color: #2c1201;
}
.showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .product_description .prices .reduice-price {
  color: #8a8a8a;
}
.showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .product_description .description {
  color: #3d3d3d;
  font-weight: 300;
}
.showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .star-add_cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .star-add_cart .star {
  color: #ee6205;
}
.showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .star-add_cart .star span {
  color: #000000;
}
.showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .star-add_cart #number {
  background-color: #ee6205;
  width: 60px;
  border: none;
  color: #fff;
  padding: 3px 5px;
  font-weight: 500;
  font-size: 18px;
}
.showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .star-add_cart .add-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  border-radius: 0.2rem;
}
.showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .star-add_cart .add-cart span {
  font-size: 16px;
  font-weight: 400;
}
.showProduct-section .container .content .product .product_container .product_content .desc_container .images {
  display: flex;
  justify-content: space-between;
}
.showProduct-section .container .content .product .product_container .product_content .desc_container .images .field {
  width: 100px;
  border: 1px solid #d9e4e3;
  display: flex;
  align-items: center;
  padding: 5px;
}
.showProduct-section .container .content .product .product_container .product_content .desc_container .images .field .img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}
.showProduct-section .container .content .succges_aside {
  border-radius: 0.1rem;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  box-shadow: 0px 1px 2px 1px #929292;
}
.showProduct-section .container .content .succges_aside .succges_aside_container .content {
  display: flex;
  flex-direction: column;
}
.showProduct-section .container .content .succges_aside .succges_aside_container .content .chield {
  position: relative;
}
.showProduct-section .container .content .succges_aside .succges_aside_container .content .chield .succges_container::before {
  transition: all 0.5s;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: inherit;
  width: 1%;
}
.showProduct-section .container .content .succges_aside .succges_aside_container .content .chield .succges_container .succges_content {
  display: flex;
  padding: 0 10px;
  align-items: center;
  height: 90px;
  gap: 10px;
}
.showProduct-section .container .content .succges_aside .succges_aside_container .content .chield .succges_container .succges_content .image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.showProduct-section .container .content .succges_aside .succges_aside_container .content .chield .succges_container .succges_content .image img {
  max-width: 80px;
  max-height: 80px;
}
.showProduct-section .container .content .succges_aside .succges_aside_container .content .chield .succges_container .succges_content .name {
  width: -moz-max-content;
  width: max-content;
}
.showProduct-section .container .content .succges_aside .succges_aside_container .content .chield:hover .succges_container::before {
  background-color: rgba(44, 18, 1, 0.1921568627);
  width: 100%;
}

@media (max-width: 576px) {
  .articlePop-up {
    position: fixed;
    z-index: 1000;
    height: -moz-fit-content;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: #f5f3ec;
    width: 90%;
    border-radius: 0.5rem;
    box-shadow: 1px -0.5px 1px 2px #d1d1d1;
    transition: all 0.5s;
  }
  .articlePop-up .close-modal {
    right: 0;
    top: 20px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    transition: 0.2s;
    margin-left: 90%;
    margin-top: 2%;
  }
  .articlePop-up .close-modal:hover {
    background-color: #ee6205;
    color: #fff;
  }
  .articlePop-up .popup_container .popup_content {
    padding: 15px 0;
  }
  .articlePop-up .popup_container .popup_content .image {
    background-color: #fff;
  }
  .articlePop-up .popup_container .popup_content .image .img-content {
    height: 130px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .articlePop-up .popup_container .popup_content .image .img-content img {
    max-width: 100%;
    max-height: 120px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .articlePop-up .popup_container .popup_content .description_container .description_content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .articlePop-up .popup_container .popup_content .description_container .description_content .name {
    font-weight: 400;
    padding-top: 10px;
    font-size: 12px;
  }
  .articlePop-up .popup_container .popup_content .description_container .description_content .description {
    text-align: justify;
    color: #2c1201;
    font-weight: 300;
    font-size: 10px;
    padding: 0 15px;
  }
  .articlePop-up .popup_container .popup_content .description_container .description_content .price-add {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }
  .articlePop-up .popup_container .popup_content .description_container .description_content .price-add .price {
    font-size: 18px;
    font-weight: 500;
  }
  .articlePop-up .popup_container .popup_content .description_container .description_content .price-add .add-button {
    padding: 4px 8px;
    font-size: 15px;
  }
  .showProduct-section {
    padding: 0;
    background-color: #d1d1d1;
  }
  .showProduct-section .container {
    padding: 0;
  }
  .showProduct-section .container .content {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .showProduct-section .container .content .product {
    width: 100%;
  }
  .showProduct-section .container .content .product .product_container {
    padding: 0;
    background-color: #d1d1d1;
    border-radius: 0;
  }
  .showProduct-section .container .content .product .product_container .product_content {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .showProduct-section .container .content .product .product_container .product_content .image {
    padding: 10px;
    padding-bottom: 0;
  }
  .showProduct-section .container .content .product .product_container .product_content .image .product_image {
    width: 100%;
    justify-content: center;
    border-radius: 0;
    background-color: #fff;
    border-bottom: 0;
  }
  .showProduct-section .container .content .product .product_container .product_content .image .product_image img {
    -o-object-fit: cover;
       object-fit: cover;
    max-height: 200px;
  }
  .showProduct-section .container .content .product .product_container .product_content .desc_container {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    background-color: #fff;
    flex-direction: column-reverse;
    padding: 0 2.5%;
  }
  .showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .product_description {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .product_description .name {
    font-weight: 400;
    font-size: 15px;
  }
  .showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .product_description .prices .price {
    font-size: 16px;
    font-weight: 500;
  }
  .showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .product_description .description {
    font-weight: 200;
    font-size: 15px;
  }
  .showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .star-add_cart {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    gap: 10px;
  }
  .showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .star-add_cart .star {
    color: #ee6205;
  }
  .showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .star-add_cart .star span {
    color: #000000;
  }
  .showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .star-add_cart #number {
    width: 50px;
    font-weight: 400;
    font-size: 15px;
  }
  .showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .star-add_cart .add-cart {
    display: flex;
    align-items: center;
  }
  .showProduct-section .container .content .product .product_container .product_content .desc_container .description-content .star-add_cart .add-cart span {
    font-size: 16px;
    font-weight: 400;
  }
  .showProduct-section .container .content .product .product_container .product_content .desc_container .images {
    display: flex;
    justify-content: space-around;
  }
  .showProduct-section .container .content .product .product_container .product_content .desc_container .images .field {
    width: 80px;
    border: 1px solid #d9e4e3;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  .showProduct-section .container .content .product .product_container .product_content .desc_container .images .field img {
    -o-object-fit: cover;
       object-fit: cover;
    max-width: 100%;
    height: 55px;
  }
  .showProduct-section .container .content .succges_aside {
    display: none;
    border-radius: 0.5rem;
    width: 1000px;
    height: 500px;
    background-color: #fff;
  }
}
@media (min-width: 992px) {
  /*    .article {
      button {
          padding: 5px;
      }

      display: flex;
      flex-direction: column;
      background-color: #fff;
      width: 200px;
      border-radius: .5rem;
      box-shadow: 1px -.5px 1px 2px #d1d1d1;
      transition: all .5s;

      .image {
          .img-content {
              height: 150px;
              padding: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;

              img {
                  max-width: 100%;
                  max-height: 140px;
                  object-fit: cover;
              }
          }

          .img-content::after {
              transition: all .3s;
              content: "";
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              left: 0;
              background-color: inherit;
              max-width: 100%;
              max-height: 100%;
              border-top-left-radius: .5rem;
              border-top-right-radius: .5rem;
          }
      }

      .image:hover {
          .img-content::after {
              background-color: #001f4d2a;
          }

          .img-content {
              .img {
                  max-height: 200px !important;
              }
          }
      }

      .descriptions {
          .article_name {
              padding: 7px 0;
              background-color: #f3f3f3;
              font-weight: bolder;
              font-weight: 400;
          }

          .price-detail {
              padding: 10px;
              display: flex;
              justify-content: space-between;
              align-items: center;

              .price {
                  font-size: 18px;
                  font-weight: 500;
                  color: #000000;
              }
          }
      }
  } */
}/*# sourceMappingURL=product.css.map */