.footer {
    padding: 20px 0;
    background-color: #fff;

    .about_info-top {
        justify-content: space-between;
    }

    .about_info {
        display: flex;
        overflow: hidden;

        .field {
            .title {
                font-weight: 500;
                font-size: 18px;
                text-transform: uppercase;
                width: max-content;
            }

            overflow: hidden;

            .links {
                display: flex;
                flex-direction: column;
                font-size: 14px;
                font-weight: 300;

                a {
                    width: max-content;

                    .label {
                        display: flex;
                        flex-direction: column;
                    }

                    .label::after {
                        content: "";
                        padding: 1px;
                        background-color: inherit;
                        width: 0%;
                        transition: all .5s;
                    }
                }


                a:hover {
                    color: red;

                    .label::after {
                        background-color: #ff0000;
                        width: 50%;
                    }
                }
            }
        }
    }

    .about_info-bottom {
        display: none;
    }

    .footer_container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .footer_content {
            display: flex;
            gap: 20px;
            max-width: 100%;
            overflow: hidden;

            .footer_content {
                display: flex;
                flex-direction: column;
                text-align: left;
                max-width: 100%;

                .about {
                    display: flex;
                    gap: 20px;
                    flex-direction: column;
                    max-width: 100%;

                    .description {
                        font-size: 14px;
                        font-weight: 300;
                        text-align: justify;
                        max-width: 100%;

                        span {
                            color: red;
                        }
                    }

                    .social_links {
                        display: flex;
                        flex-direction: column;

                        .title {
                            width: max-content;
                        }

                        .links {
                            display: flex;
                            gap: 30px;

                            a {
                                display: flex;
                                gap: 5px;
                                width: fit-content;

                                .label {
                                    width: max-content;
                                }

                                .icon {
                                    padding: 3px 10px;
                                    align-items: center;
                                    color: #fff;
                                    transition: all .5s;
                                }
                            }

                            a:hover {
                                .icon {
                                    border-radius: 50px;
                                }
                            }

                            .facebook {
                                .icon {
                                    background-color: #1100ff;
                                }
                            }

                            .instagram {
                                .icon {
                                    background-color: #00a2ff;
                                }
                            }
                        }
                    }
                }

            }

            .send_massage_form {
                display: flex;
                flex-direction: column;
                background-color: #01132e;
                width: fit-content;
                color: #fff;
                padding: 10px 20px;
                text-align: left;
                height: fit-content;

                .form_title {
                    font-size: 20px;
                    font-weight: 500;
                    text-transform: capitalize;
                    text-decoration: double;
                    margin-bottom: 10px;
                    width: max-content;
                }

                .form_content {
                    display: flex;
                    flex-direction: column;


                    .field {
                        display: flex;
                        flex-direction: column;

                        textarea {
                            height: 100px;
                        }

                        input {
                            height: 35px;
                        }
                    }

                    .submite {
                        width: fit-content;
                        margin-top: 10px;
                        padding: 4px 5px;
                        background-color: orangered;
                        border-radius: .2rem;
                        border: none;
                        transition: all .5s;
                        font-weight: 400;
                        font-size: 1-px;
                    }

                    .submite:hover {
                        background-color: #ffa600;
                    }
                }
            }
        }
    }
}

.section_maker {
    .content {
        display: flex;
        gap: 30px;

        .title {
            font-weight: 300;
            width: max-content;
        }

        .contact_link {
            display: flex;
            gap: 10px;

            .chield {
                display: flex;
                gap: 5px;
                width: max-content;
            }

            :nth-child(1):hover {
                color: #031d44;
            }


            :nth-child(2) {
                .icon {
                    color: #006eff;
                }
            }


            :nth-child(3) {
                .icon {
                    color: #ff0000;
                }
            }

            :nth-child(3):hover {
                color: #ff0000;
            }

        }
    }
}

@media (max-width: 400px) {


    .about_info-bottom {
        display: grid !important;
        grid-template-columns: repeat(2, auto);
        gap: 0px !important;

        .field {

            .title {
                font-size: 12px !important;
            }
        }
    }

    .section_maker {
        .content {
            .title {
                font-size: 14px;
                font-weight: 400;
            }

            .contact_link {
                gap: 0px;
            }
        }
    }
}

@media (max-width: 576px) {
    .footer {
        .footer_container {
            .footer_content {
                flex-direction: column;

                .send_massage_form {
                    width: 100%;
                }

                .footer_content {
                    .about {
                        gap: 5px;

                        .description {
                            font-size: 13px;
                        }

                        .social_links {
                            gap: 10px;

                            @media (max-width: 385px) {
                                .links {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 5px;
                                }
                            }

                            @media ((min-width: 386px) and (max-width: 576px)) {
                                .links {
                                    display: flex;
                                    flex-direction: row;
                                    gap: 5px;
                                }
                            }
                        }
                    }
                }
            }


        }

        .section_maker {
            .content {
                .contact_link {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }


}

@media (max-width: 800px) {
    .footer {
        .about_info-top {
            display: none;
        }

        .about_info-bottom {
            display: flex;
            gap: 10px;
        }

        .footer_container {
            .footer_content {
                .footer_content {
                    .about {
                        gap: 5px;

                        .social_links {
                            gap: 10px;

                            .links {
                                display: flex;
                                flex-direction: column;
                                gap: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 970px) {
    .footer {
        .footer_container {
            .section_maker {
                .content {
                    flex-direction: column;
                    gap: 0;
                }
            }
        }

    }
}

@media ((min-width: 577px) and (max-width: 767px)) {}

@media ((min-width: 768px) and (max-width: 991px)) {}

@media ((min-width: 992px) and (max-width: 1199px)) {}
