@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Kanit-Black.ttf";
  src: url("../public/fonts/Kanit/Kanit-Black.ttf") format("TRUETYPE");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kanit-Black.ttf";
  src: url("../public/fonts/Kanit/Kanit-Black.ttf") format("TRUETYPE");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kanit-Black.ttf";
  src: url("../public/fonts/Kanit/Kanit-Bold.ttf") format("TRUETYPE");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kanit-Black.ttf";
  src: url("../public/fonts/Kanit/Kanit-ExtraLight.ttf") format("TRUETYPE");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kanit-Black.ttf";
  src: url("../public/fonts/Kanit/Kanit-Light.ttf") format("TRUETYPE");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kanit-Black.ttf";
  src: url("../public/fonts/Kanit/Kanit-Medium.ttf") format("TRUETYPE");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kanit-Black.ttf";
  src: url("../public/fonts/Kanit/Kanit-Thin.ttf") format("TRUETYPE");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kanit-Black.ttf";
  src: url("../public/fonts/Kanit/Kanit-SemiBold.ttf") format("TRUETYPE");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Kanit-Black.ttf";
  src: url("../public/fonts/Kanit/Kanit-Regular.ttf") format("TRUETYPE");
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
form,
input,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Kanit", sans-serif !important;
}

img {
  max-width: 100%;
  height: auto;
}
*,
::after,
::before {
  box-sizing: border-box;
}
a,
button {
  border: 0;
  text-decoration: none;
  cursor: pointer;
}
a {
  color: #000000;
}
/* container */
.container {
  padding: 0 80px;
}
/* button style */
button {
  background-color: #ff5e00;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding: 7px 10px;
  border-radius: 0.5rem;
  transition: 0.3s;
}
button:hover {
  background-color: #d85205;
}

/* section title */
.section_tile {
  font-weight: bolder;
  text-align: left;
  font-size: 35px;
}
.App {
  text-align: center;
}
